/* Estilos gerais */
.tela-principal {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #C2AB89;
    padding-top: 60px;
    padding-left: 60px;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-card {
    background-color: #d6c3a7;
    padding: 20px;
    border-radius: 8px;
    width: 90vw;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    color: #8b5e34;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    padding: 8px;
    border: 1px solid #8b5e34;
    border-radius: 4px;
    background-color: #f8f3eb;
}

.additional-section {
    display: flex;
    margin-top: 20px;

}

.additional-section .form-group {
    margin-bottom: 15px;
}

.cover-placeholder {
    width: 120px;
    height: 160px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #8b5e34;
    color: #8b5e34;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    margin-right: 20px;
}

.cover-placeholder .plus-icon {
    font-size: 24px;
    margin-top: 10px;
}

.small-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 140px);
}

.stars {
    display: flex;
    align-items: center;
}

.star {
    font-size: 29px;
    color: #ccc;
    cursor: pointer;
}

.star.selected {
    color: #ffa500;
}

.submit-button {
    background-color: #8b5e34;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #704c2f;
}

.large-textareas {
    margin-top: 20px;
}

.large-textareas .form-group {
    margin-top: 10px;
}

.large-textareas textarea {
    resize: none;
}