/* Estilos gerais */
.tela-principal {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #C2AB89;
    padding-top: 60px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;
    background: #d6c3a7; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    gap: 20px;
}

.book-cover img {
    width: 200px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.book-info h1 {
    font-size: 28px;
    color: #2c3e50;
    margin-top: 15px;
    font-weight: 600;
}

.book-info p {
    font-size: 16px;
    color: #0f0f0f;
    margin-bottom: 10px;
    line-height: 1.6;
}

.back-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #2c3e50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: flex-start;
}

.back-button:hover {
    background-color: #1a252f;
    transform: scale(1.05);
}