.tela-principal {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #C2AB89;
}

.logout-button {
    text-decoration: none;
}

.top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #572A15;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #3A1D0F;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset;
}

.sidebar:hover {
    width: 200px;
}

.sidebar-header {
    display: flex;
    flex-direction: column; /* Alinha logo e texto em coluna */
    align-items: center;
    padding: 10px;
    transition: width 0.3s ease;
}

.sidebar-header img {
    width: 50px; /* Tamanho da logo */
    transition: width 0.3s ease;
}

.sidebar:hover .sidebar-header img {
    width: 70px; /* Ajusta o tamanho quando a sidebar estiver expandida */
}

.sidebar-header h2 {
    color: white;
    font-size: 1rem;
    display: none;
    margin: 5px 0 0; /* Espaçamento acima do texto */
}

.sidebar:hover .sidebar-header h2 {
    display: block;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
}

.sidebar-links li {
    padding: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px; /* Ajusta o tamanho da fonte dos itens do menu */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    transition: background-color 0.3s;
}

.sidebar-links li i {
    font-size: 16px; /* Reduz o tamanho dos ícones */
    margin: 0 5px;
}

.sidebar-links li .sidebar-text {
    margin-left: 10px;
    display: none;
}

.sidebar:hover .sidebar-links li .sidebar-text {
    display: inline;
}

.sidebar-links li a:hover {
    background-color: #6B3A28;
    border-radius: 4px;
}

.logo {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 800px;
    margin-left: 250px;
}

#search-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
    width: 100%;
}

.search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.logout-button {
    background-color: #8B4513;
    color: #000000;
    border: none;
    padding: 6px 15px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;  /* Permite que os itens quebrem linha */
    gap: 20px;  /* Espaçamento entre os livros */
    padding: 20px;  /* Espaçamento interno em volta dos livros */
    padding-left: 80px;  /* Adiciona espaçamento à esquerda para evitar a sobreposição da sidebar */
    margin-top: 80px;  /* Espaçamento para baixo da barra de navegação */
    justify-content: flex-start;  /* Alinha livros à esquerda */
    align-content: flex-start; /* Alinha o conteúdo à esquerda */
}

/* Estilos para cada livro */
.book-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 150px;  /* Largura reduzida para os livros */
    text-align: center;
    transition: transform 0.2s;
    margin: 10px;  /* Margem para evitar que os livros fiquem grudados nas bordas */
}

.book-item:hover {
    transform: scale(1.05);
}

/* Estilos para a imagem do livro */
.book-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;  /* Borda inferior para separar a imagem do título */
}

/* Título do livro */
.book-item h3 {
    font-size: 16px;  /* Tamanho de fonte um pouco menor */
    margin: 10px 0;
    padding: 0 10px;
    color: #333;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0; /* Espaçamento acima e abaixo do título */
    text-align: left; /* Centraliza o título */
}