<head>
    <link rel="stylesheet" href="css/layout.css">
</head>
<html>

<div class="top-bar">
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="../imgs/logo_bdb.png" alt="logo">
            <h2>Book DataBase</h2>
        </div>
        <ul class="sidebar-links">
            <li><a th:href="@{/}"><i class="fa-solid fa-house"></i><span class="sidebar-text">Home</span></a></li>
            <li><a th:href="@{/Coleção}"><i class="fa-solid fa-book-open"></i><span class="sidebar-text">Coleção</span></a></li>
            <li><a th:href="@{/AddBook}"><i class="fa-solid fa-plus"></i><span class="sidebar-text">Adicionar Livro</span></a>
            </li>
            <li><a href="#"><i class="fa-solid fa-gear"></i><span class="sidebar-text">Configurações</span></a></li>
            <li><a th:href="@{/Login}"><i class="fa-solid fa-right-from-bracket"></i><span class="sidebar-text">Logout</span></a></li>
        </ul>
    </div>


    <div class="search-bar">
        <input type="text" placeholder="Pesquise por um livro" id="search-input">
        <button class="search-button">
            <a th:href="@{/SearchBook}" class="fa-solid fa-magnifying-glass"></a>
        </button>
    </div>
     
    <img src="../imgs/perfil.svg" alt="Foto Perfil" class="perfil" onclick="mudarPagina()">


    <script th:src="@{'/js/Pesquisa/HomePage.js'}"></script>
</div>


</html>