<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/HomePageStyle.css">
    <link rel="shortcut icon" href="imgs/logo_bdb.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Book DataBase</title>
</head>

<body class="tela-principal">
    
    <div id="layout-container">
        <script th:src="@{'/js/layout.js'}"></script>
    </div>

    <div class="collection-container">
        <p class="titulo-categoria">Fantasia</p>
        <div id="colecao1" class="book-item"></div>
    </div>
    
    <div class="collection-container">
        <p class="titulo-categoria">Horror</p>
        <div id="colecao2" class="book-item"></div>
    </div>
    
    <div class="collection-container">
        <p class="titulo-categoria">Mistério</p>
        <div id="colecao3" class="book-item"></div>
    </div>
    
    
    <script th:src="@{'/js/colecao.js'}"></script>
   
</body>

</html>
